numpy
scipy
sklearn
matplotlib
seaborn
torch
tensorboard
nltk
jupyter
mypy
flake8
pytest
tqdm
editdistance
rich
# pytorch-categorical
# tb-nightly
# future  # for TensorBoard
# pillow  # for TensorBoard
# tensorflow
